/* Imagen de fordo */
/*
body{
    background-image: url("unibacion de la imagen");
    background-size: cover; /*Para qeu no se repita la imagen
}*/
/*Menu principal*/
/*
body{
    background-color: rgb(1, 43,65);
}
    */
nav{
    max-width: auto;
    margin: auto;
    background-color: rgb(1, 43, 65); /*Fondo de la barra*/
    font-size: 30px; /*TAMAÑO DEL TEXTO EN LA BARRA*/
    margin-top: 50px;
}
.menu-hori{
list-style: none;
display: flex;
justify-content: space-around;
}
.menu-hori >li >a {
    display: block;
    padding: 15px 20px;
    color: rgb(188, 143, 78);
    text-decoration: none;
}

.menu-hori > li:hover{ /* Para ponerle sobra cuando pasa el cursor */
    background-color: rgb(255, 255, 255);
}

.menu-verti{
    position: absolute;
    list-style: none;
    display: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5); /*Fondo del menu desplegable*/
}
.menu-hori  li:hover .menu-verti{
    display: block;
}
.menu-verti li:hover{
    background-color: black; /*Color al pasar el cursor*/
}
.menu-verti li a{
    display: block;
    color: rgb(255, 255, 255); /*Color del texto*/
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

/*Sub menu 2*/


.menu-verti2{
    position: relative;
    list-style: none;
    display: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5); /*Fondo del menu desplegable*/
}
.menu-verti  li:hover .menu-verti2{
    display: block;
}
.menu-verti2 li:hover{
    background-color: black; /*Color al pasar el cursor*/
}
.menu-verti2 li a{
    display: block;
    color: rgb(255, 255, 255); /*Color del texto*/
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}


.cuerpo{
    background-color: rgb(1, 43, 65);
}

.titulos{
    color: rgb(188, 143, 78);
    font-size: 50px; /*Tamaño de los titulos*/
}

p{
    color: rgb(188,143,78);
    text-align: justify;
    font-size: 30px; /*Tamaño del texto en el contenido*/
}
h2{
    color: rgb(188,143,78 );
}



/* TABLA */
 table{
    width: 900px;
    height: 700px;
    color: rgb(188, 143, 78);
}
th, td{
    padding: 10px;
    font-size: 30px;
}
th{
    text-align: center;
}

.logo{
    width: 400px;
    height: 400px;   
}
.lista{
    color: rgb(188, 143, 78);
}